{% extends 'basetemplate.jinja2' %}

{% block styles %}
    {{ super() }}
    {% assets "notes_less" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
    {% endassets %}
{% endblock %}

{% block contentheadblock %}
    Manage Notes Dynamic test
{% endblock %}


{% block contentbodyblock %}
    {% from 'notes/notesmanagermacros.jinja2' import catmacro, entrymacro %}
    <div class="notesmanager-categories">
    {% for cat in categories %}
        <div class="notesmanager-category">{{ catmacro(cat) }}</div>
        <div class="notesmanager-subcategories">
        {% for subcat in cat.sub_categories %}
            <div class="notesmanager-subcategory">{{ catmacro(subcat, 'Subcategory') }}</div>
            <div class="notesmanager-entries">
            {% for entry in subcat.entries %}
                <div class="notesmanager-entry">
                    {{ entrymacro(entry) }}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endblock %}


{% block contentfootblock %}
    {{ super() }}
{% endblock %}


{% block scripts %}
    {{ super() }}

{% endblock %}