{% extends 'basetemplate.jinja2' %}

{% block styles %}
    {{ super() }}
    {% assets "notes_less" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
    {% endassets %}
{% endblock %}

{% block contentheadblock %}
    {{ category }} > {{ subcategory }} > {{ entry.name }} <a href="{{ url_for('notes_bp.notes_edit', id=entry.id) }}" style="float: right; color:#ae1b1b">Edit</a>
{% endblock %}


{% block contentbodyblock %}

    <div class="note-content">
        {% if entry.content == '' %}
            This entry has not content
        {% elif entry.content_type == 'markdown' %}
            {{ entry.content|markdown }}
        {% else %}
            {{ entry.content }}
        {% endif %}
    </div>

    <br>

{% endblock %}


{% block contentfootblock %}
    <p style="text-align: center">
        <a class="" style="color: black" href="{{ entry.drive_url }}" target="_blank">View in Drive</a> | Last Updated: {{ entry.get_last_updated() }} | <a class="" style="color: black" href="{{ url_for('notes_bp.manage_notes_update', id=entry.id) }}">Force update</a>
    </p>
    {{ super() }}
{% endblock %}

