{% extends 'layout.jinja2' %}

{% block headblock %}
    {{ super() }}
    {# Insert additionnal meta or header tags here #}
{% endblock %}


{% block styles %}
    {{ super() }}
    {# Insert additionnal styles here #}
{% endblock %}


{% block bodyblock %}

{% endblock %}


{% block scripts %}
    {{ super() }}
    {# Insert additionnal scripts here #}
{% endblock %}