{% extends 'basetemplate.jinja2' %}


{% block styles %}
    {{ super() }}
    {# Additional styles #}
{% endblock %}


{% block contentheadblock %}

{% endblock %}


{% block contentbodyblock %}

{% endblock %}


{% block contentfootblock %}

{% endblock %}


{% block scripts %}
    {{ super() }}
    {# Insert additionnal scripts here #}
{% endblock %}