<!DOCTYPE html>
<html lang="en">

<head>
    {% block headblock %}
        {% include 'head.jinja2' %}
    {% endblock %}

    {% block styles %}
        <link
            href="{{ url_for('static', filename='dist/css/style.css') }}"
            rel="stylesheet"
            type="text/css"
        />
    {% endblock %}

</head>

<body>
    {% block bodyblock %}
    {% endblock %}
</body>

{% block scripts %}
{% endblock %}

