<div class="sidebar">
    <div class="homelogo">
        <a href="/">
            <img src="{{ url_for('static', filename='img/chickenswell_logo_200x200.png') }}" class="logo" alt="Chickenswell logo :("/>
        </a>
    </div>

    <div class="sidenav">
        <a href="/">Home</a>
        <a href="{{ url_for('notes_bp.mdtrial') }}">Markdown Trial</a>
        <a href="{{ url_for('notes_bp.markdown_view') }}">Markdown Notes</a>
        <hr>
        {% if current_user.is_authenticated %}
            {% for dropdown in dropdowns %}
                <button class="dropdown-btn" id="{{ dropdown }}">
                    {{ dropdown }}
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    {% for sub_cat in dropdowns[dropdown] %}
                        {# <a href={{ sub_cat }}>{{ sub_cat }}</a> #}
                        <button class="sub-dropdown-btn" id="{{ sub_cat }}">
                            <i class="fa fa-caret-right"></i>
                            {{ sub_cat }}
                        </button>
                        <div class="dropdown-container">
                            {% for note_page in dropdowns[dropdown][sub_cat] %}
                                <div class="dropdown-link-container">
                                    <a class="notelink" href={{ dropdowns[dropdown][sub_cat][note_page] }}>{{ note_page }}</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <hr>
            <a href="{{ url_for('notes_bp.add_notes') }}">Add Notes</a>
            <a href="{{ url_for('notes_bp.manage_notes') }}">Manage Notes</a>
        {% endif %}
    </div>

</div>

<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.querySelectorAll(".dropdown-btn,.sub-dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
            this.classList.toggle("active");
            sessionStorage.setItem(this.id, this.classList.value);
            console.log(sessionStorage)
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }

    for (i = 0; i < dropdown.length; i++) {
        if (dropdown[i].id in sessionStorage) {
            dropdown[i].classList.value = sessionStorage.getItem(dropdown[i].id);
            if (dropdown[i].classList.contains('active')) {
                dropdown[i].nextElementSibling.style.display = "block";
            }
        }
    }

</script>