{% extends 'basetemplate.jinja2' %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/entry.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block contentheadblock %}
    Home
{% endblock %}


{% block contentbodyblock %}
    <div>

        <h1>Welcome!</h1>

        <p>
            <a href="{{ url_for('static', filename='pdf/chicken.pdf') }}" target="_blank">Research report</a>
        </p>
    </div>
{% endblock %}


{% block contentfootblock %}
    {{ super() }}
{% endblock %}