{% extends 'index.jinja2' %}

{% block pagestyles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/entry.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block headblock %}

{% endblock %}


{% block mainblock %}

{% endblock %}


{% block footblock %}

{% endblock %}